/* header-section */
.header {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;

}

.header .b-title {
    font-size: 20px;
    cursor: pointer;

}

.header .b-title span {
    color: teal;
    font-weight: 600;
    font-style: italic;
    margin-left: 2px;
}

.header .b-links li {
    list-style-type: none;
    margin-right: 25px;
    font-size: 18px;

}


.header .b-links li a {
    color: #313030;
    text-decoration: none;
    margin: 0 25px;
    transition: font-weight .15s;

}


.header .b-links li a:hover {
    font-weight: bolder;

}


/* main-section */
.main {
    /* background-color: aqua; */
    margin-top: 30px;
    padding: 0 20px;

}


.main .main-title {
    font-size: 30px;
    font-weight: 400;

}


/* products */
.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

}


.product-card {
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s, background-color .15s;

}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .08);
    background-color: rgb(250, 249, 249);

}